@model List<questions>
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Question</h1>

<form method="get" action="/stack/search">
    Search: <input type="text" name="str" /><br />
    <input type="submit" value="Search" />
</form>

<h1>Questions</h1>

<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (questions quest in Model)
        {
            <tr>
                <td>@quest.ID</td>
                <td>@quest.Username</td>
                <td>@quest.Detail</td>
                <td>
                    <a asp-action="DeleteQuestion" asp-route-questID="@quest.ID" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    @{
        ViewData["Title"] = "Index";
    }
